a:link {
    color: black;
}

a:visited {
    color: grey;
}

a:hover {
    background-color: pink;
    color: blue;
    border: 2px solid red;
}

a:active {
    background-color: yellow;
    color: green;
}


