ul.navigate {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 97%;
    position: fixed;
    overflow: auto;
    background-color: #F1F1F1;
    width: 20%;
    border-radius: 15px;
}

li.navigate a.navigate {
    /* 显示块元素的连接 */
    display: block;
    /* 去掉连接的下划线 */
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    color: black;
}

li.navigate a.navigate:hover {
    background-color: #555;
    color: white;
}

li.navigate a.navigate:active {
    background-color: #4CAF50;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    color: white;
}

div.content {
    position: fixed;
    left: 21%;
    width: 58%;
    height: 97%;
    border-radius: 15px;
    background-color: #F1F1F1;
}

div.summary {
    position: fixed;
    left: 80%;
    width: 19.5%;
    height: 97%;
    border-radius: 15px;
    background-color: #F1F1F1;
}