p[class] {
    background-color: aliceblue;
}

p[class="match"] {
    background-color: antiquewhite;
}

p[class|="prefix"] {
    background-color: aqua;
}

p[class$="suffix"] {
    background-color: blue;
}

p[class*="inc"] {
    background-color: green;
}

p[class~="word"] {
    background-color: bisque;
}

.prefix-match {
    background-color: black;
}

.match-suffix {
    background-color: black;
}

.include-word {
    background-color: black;
}

p {
    background-color: pink
}